/* ============================================= */
/*              Variables                        */
/* ============================================= */

/* Colors */

$color-primary: #58e1c1;
$color-secondary: #777;
$color-link: #51ddfc;
$color-text:#777;
$color-button: #fff;
$color-background:  #58e1c1;

/* Breakpoints */

$break-m: 768px;